<section class="mt-5">
  {{createPost}}
</section>
<ul class="list-group">
  <h1 class="text-center">Your Posts</h1>
  {{#each posts as |post|}}
    <li class="list-group-item">
      <article class="post-article">
        <h2>{{post.title}}</h2>
        <article class="single">
          {{{post.body}}}
        </article>
        <p>Posted by: {{post.user.username}}</p>
        <a href="/posts/{{post.id}}">View post</a>
      </article>
    </li>
  {{/each}}
</ul>
<style>
  .ql-editor { overflow: hidden; }
</style>